* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #EEEEEE;
}

#cursor {
    height: 15px;
    width: 15px;
    border: 2px solid greenyellow; /* Create a boundary outline */
    border-radius: 50%;
    position: fixed;
    z-index: 99;
    pointer-events: none; /* Ensure cursor does not interfere with mouse events */
}

#cursorBlur {
    height: 200px;
    width: 200px;
    border: 2px solid greenyellow; /* Matching the border color with the cursor */
    border-radius: 50%;
    position: fixed;
    filter: blur(150px);
    z-index: 9;
    pointer-events: none; /* Ensure blur effect does not interfere with mouse events */
}



#nav {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 20px;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: rgba(29, 43, 83, 0.4);
}

#nav h4 {
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    font-size: 1.15vw;
}

video {
    height: 100%;
    width: 100%;
    position: fixed;
    object-fit: cover;
    filter: blur(5px);
    background: rgba(20, 20, 100, 0.5);
    z-index: 0
}

#main {
    position: relative;
    background-color: rgba(0, 0, 0, 0.37);
}

#cursor {
    height: 15px;
    width: 15px;
    background-color: greenyellow;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
}

#cursorBlur {
    height: 200px;
    width: 200px;
    background-color: greenyellow;
    border-radius: 50%;
    position: fixed;
    filter: blur(150px);
    z-index: 9;
}

a:link {
    text-decoration: none;
}

#page1 {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    z-index: 10;
    cursor: none; 
}

#page1 h1::before {
    content: "AYUSH HURKAT";
    position: absolute;
    color: #222831;
    left: -4px;
    top: -4px;
    -webkit-text-stroke: 2px greenyellow;
    z-index: -1;
}

#page1 h1 {
    font-size: 120px;
    font-weight: 900;
    position: relative;
    color: #EEEEEE;
}

#page1 h2 {
    font-size: 30px;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 2px solid greenyellow;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0 0 30px 10px greenyellow;
}

#page2 {
    height: 100vh;
    width: 100%;
    z-index: 10;
    cursor: none; 
}

#scroller {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
    cursor: none; 
}

#scroller::-webkit-scrollbar {
    display: none;
}

#scroller_in {
    display: inline-block;
    white-space: nowrap;
    animation: scroll 20s linear infinite;
}

#scroller h4 {
    display: inline-block;
    font-size: 70px;
    font-weight: 900;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-right: 30px;
    color: transparent;
    -webkit-text-stroke: 2px greenyellow;
    transition: ease-in-out 1s;
}

#scroller h4:hover {
    color: greenyellow;
}

#page2 {
    margin-top: 150px;
    cursor: none; 
    
    z-index: 10;
}

#about {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#about h3::before {
    content: "ABOUT ME";
    position: absolute;
    left: -4px;
    top: -4px;
    color: black;
    -webkit-text-stroke: 2px greenyellow;
    z-index: -1;
}

#about h3 {
    font-size: 80px;
    font-weight: 900;
    position: relative;
    color: #EEEEEE;
    z-index: 1;
}

/* Default styles for desktop */
#aboutme {
    height: auto;
    width: 100%;
    display: flex;
    padding: 0 50px;
    align-items: center;
    position: relative;
    margin-top: 50px;
    z-index: 10;
    justify-content: space-evenly;
    cursor: none;
}

#aboutme img {
    height: auto;
    width: 100%;
    max-width: 280px;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 0 0 10px 5px greenyellow;
}

#aboutmedesc {
    width: 100%;
    max-width: 400px;
    height: auto;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 20px 10px greenyellow;
    margin-top: 20px;
}

#aboutmedesc p {
    font-size: 1rem;
    line-height: 1.5;
}

/* Responsive styles for tablets */
@media (max-width: 768px) {
    #aboutme {
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
    }

    #aboutme img {
        max-width: 30%;
        margin-bottom: 40px;
    }

    #aboutmedesc {
        max-width: 90%;
        padding: 15px;
        font-size: 0.9rem;
    }
}

/* Responsive styles for mobile phones */
@media (max-width: 480px) {
    #aboutme img {
        max-width: 70%;
        margin-bottom: 15px;
    }

    #aboutmedesc {
        max-width: 95%;
        padding: 10px;
        font-size: 0.8rem;
    }
}


#page3 {
    margin-top: 300px;
    z-index: 10;
}

#resume {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
}

#resume h3::before {
    content: "RESUME";
    position: absolute;
    left: -4px;
    top: -4px;
    color: black;
    -webkit-text-stroke: 2px greenyellow;
    z-index: -1;
}

#resume h3 {
    font-size: 80px;
    font-weight: 900;
    position: relative;
    color: #EEEEEE;
    z-index: 1;
}

.resume-view {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 10;
}

.resumeDownload {
    z-index: 10;
    margin-top: -80px;
    margin-bottom: 80px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100px;
    border: 2px solid greenyellow;
    background-color: white;
    color: black;
    box-shadow: 0 0 10px 10px greenyellow;
    text-align: center;
}

.resumeDownload a {
    z-index: 10;
    color: black;
    font-weight: 600;
    font-size: 1rem;
}

#page4 {
    margin-top: 150px;
    z-index: 10;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#Projects {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 80px;
}

#Projects h3 {
    font-size: 80px;
    font-weight: 900;
    position: relative;
    color: #EEEEEE;
}

#Projects h3::before {
    content: "PROJECTS";
    position: absolute;
    left: -4px;
    top: -4px;
    color: black;
    -webkit-text-stroke: 2px greenyellow;
    z-index: -1;
}

#projectBox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    max-width: 1200px;
    position: relative;
    justify-content: center;
    align-items: center;
}

#projectBox h3{
    color: greenyellow;
    font-size: 25px;
}

.project-card {
    box-shadow: 0 0 15px 5px greenyellow;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: row; /* Default to side-by-side layout */
    align-items: center;
    max-width: 100%;
    margin: 10px;
    color: #EEEEEE;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 40px;
}

.project-card:hover {
    transform: scale(1.05);
}

.project-img {
    flex: 1;
    padding: 10px;
}

.project-img img {
    width: 100%;
    height: auto;
    border: 2px solid;
    border-radius: 10px;
    object-fit: cover;
    display: block;
}

.project-desc {
    flex: 2;
    padding: 15px;
    font-size: 1rem;
    line-height: 1.5;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.tech-stack{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.tech-stack h4{
    color: greenyellow;
}

/* Responsive styles for tablets */
@media (max-width: 768px) {
    #projectBox {
        flex-direction: column;
        width: 50%;
    }

    .project-card {
        flex-direction: column; /* Stack image and description vertically */
    }

    .project-img, .project-desc {
        width: 100%;
    }

    .project-desc{
        font-size: 14px;
        justify-content: center;
        align-items: center;
    }
}

/* Responsive styles for mobile phones */
@media (max-width: 480px) {
    #Projects h3 {
        font-size: 60px;
    }

    .project-card {
        max-width: 90%;
    }

    .project-desc {
        font-size: 0.9rem;
        justify-content: center;
        align-items: center;
    }
}



#page5 {
    margin-top: 150px;
    z-index: 10;
}

#skills {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 50px;
    margin-bottom: 100px;
    z-index: 10;
}

#skills h3::before {
    content: "SKILLS";
    position: absolute;
    left: -4px;
    top: -4px;
    color:black;
    -webkit-text-stroke: 2px greenyellow;
    z-index: -1;
}

#skills h3 {
    font-size: 80px;
    font-weight: 900;
    position: relative;
    color: #EEEEEE;
    z-index: 1;
}

#skillset1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 40px;
    z-index: 10;
}
#skillset2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 40px;
    z-index: 10;
}

#skill{
    display: flex;
    flex-direction: column;
    padding: 10px;
    z-index: 10;
}

#skillimg img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid yellowgreen;
    box-shadow: 0 0 10px 2px greenyellow;
    margin-bottom: 20px;
    z-index: 10;
}

#skillname{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#page6{
    margin-top: 300px;
    z-index: 10;
}

#contactme {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
    margin-top: 100px;
}

#contactme h3::before {
    content: "CONTACT ME";
    position: absolute;
    left: -4px;
    top: -4px;
    color:black;
    -webkit-text-stroke: 2px greenyellow;
    z-index: -1;
}

#contactme h3 {
    font-size: 80px;
    font-weight: 900;
    position: relative;
    color: #EEEEEE;
    z-index: 1;
}

#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

#contactdetails{
    width: 450px;
    display: flex;
    align-items: center;
    padding: 20px;
    z-index: 10;
}

#contactdetails img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid yellowgreen;
    margin-right: 20px;
    z-index: 10;
}

@media screen and (max-width: 400px) {
    #aboutme {
        flex-direction: column;
        align-items: center;
    }

    #aboutme img {
        max-width: 200px;
    }
}

@keyframes scroll{
    from{
        tranform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}


#starry-background {
    position: fixed; /* Make it fixed to stay in place */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1; /* Place it behind the content */
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: white;
    border-radius: 50%;
    animation: blink 1.5s infinite ease-in-out;
    opacity: 0;
}

@keyframes blink {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}

.meteoroid {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: white;
    border-radius: 50%;
    opacity: 0;
    animation: meteoroidAnimation linear infinite;
    box-shadow: 0 0 20px 5px rgba(255, 165, 0, 0.7); /* Orangish-yellow tail */
}

@keyframes meteoroidAnimation {
    from {
        opacity: 1;
        transform: translateX(0) translateY(0);
    }
    to {
        opacity: 0;
        transform: translateX(100vw) translateY(100vh); /* Default direction SE */
    }
}

.meteoroid.shooting-s {
    animation-name: meteoroidShootingS;
}

@keyframes meteoroidShootingS {
    from {
        opacity: 1;
        transform: translateX(0) translateY(0);
    }
    to {
        opacity: 0;
        transform: translateX(0) translateY(100vh);
    }
}

.meteoroid.sw {
    animation-name: meteoroidShootingSW;
}

@keyframes meteoroidShootingSW {
    from {
        opacity: 1;
        transform: translateX(0) translateY(0);
    }
    to {
        opacity: 0;
        transform: translateX(-100vw) translateY(100vh);
    }
}

.meteoroid.se {
    animation-name: meteoroidShootingSE;
}

@keyframes meteoroidShootingSE {
    from {
        opacity: 1;
        transform: translateX(0) translateY(0);
    }
    to {
        opacity: 0;
        transform: translateX(100vw) translateY(100vh);
    }
}

.meteoroid.nw {
    animation-name: meteoroidShootingNW;
}

@keyframes meteoroidShootingNW {
    from {
        opacity: 1;
        transform: translateX(0) translateY(0);
    }
    to {
        opacity: 0;
        transform: translateX(-100vw) translateY(-100vh);
    }
}

.meteoroid.ne {
    animation-name: meteoroidShootingNE;
}

@keyframes meteoroidShootingNE {
    from {
        opacity: 1;
        transform: translateX(0) translateY(0);
    }
    to {
        opacity: 0;
        transform: translateX(100vw) translateY(-100vh);
    }
}


